<header >
    <h1>
    <div class="logo">Selection Boutique</div>
</h1>
    <nav>
        <ul >
            <li class="tabs"><a href="/">Home</a></li>
            <li class="tabs"><a href="/collection">Collection</a></li>
            <li class="tabs"><a href="/about">About Us</a></li>
            <li class="tabs"><a href="/contact">Contact</a></li>
        </ul>
    </nav>

</header>